<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(title='友情链接',keywords=null)"></div>
<body>
<header>
    <div id="slideIndicators" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="">
        <ol class="carousel-indicators">
            <li data-target="#slideIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#slideIndicators" data-slide-to="1"></li>
            <li data-target="#slideIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active"
                 style="background-image: url('/static/user/img/1.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="txt_shadow">优秀的判断力来自经验，但经验来自错误的判断</h3>
                    <p class="txt_shadow">Good judgment comes from experience, but experience comes from bad judgment.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item"
                 style="background-image: url('/static/user/img/2.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="txt_shadow">我不是一个伟大的程序员，我只是一个具有良好习惯的优秀程序员</h3>
                    <p class="txt_shadow">I am not a great programmer, I am just a good programmer with good habits. </p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item"
                 style="background-image: url('/static/user/img/3.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="txt_shadow">你们中大多数人都熟悉程序员的美德，有三种：那就是懒惰、急躁和傲慢</h3>
                    <p class="txt_shadow">Most of you are familiar with the programmer's virtues, and there are three: laziness,
                        impatience, and arrogance. </p>
                </div>
            </div>
        </div>

    </div>
</header>
<article class="main-content post-page" style="flex: 1 0 auto;">
    <div id="post-content" class="post-content">
        <h3>友情链接</h3>
        <ul class="flinks">
            <th:block th:each="link : ${links}">
                <li>🔒 <a th:href="${link.slug}" target="_blank" th:text="${link.name}"></a></li>
            </th:block>
        </ul>
        <h3>链接须知</h3>
        <blockquote>
            <ul>
                <li><p>该站可以稳定运营</p></li>
                <li><p>原创博客优先，技术类博客优先，设计、视觉类博客优先</p></li>
            </ul>
        </blockquote>
        <h3>基本信息</h3>
        <pre><code class="lang-md hljs markdown">
            网站名称： Blog( panweitong 的技术分享)
            网站地址：https://743921382.mylightsite.com</code></pre>

        <p>我的邮箱:p1025103647@gmail.com</p>
        </div>
</article>
</body>
<div th:replace="themes/default/footer::footer"></div>
</html>