<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="mobile/default/header::header('个人资料',null)"></div>
<link href="//cdn.bootcss.com/dropzone/4.3.0/min/dropzone.min.css" rel="stylesheet"/>
<style>
    #dropzone {
        margin-bottom: 3rem;
    }

    .dropzone {
        border: 2px dashed #0087F7;
        border-radius: 5px;
        background: white;
    }

    .dropzone .dz-message {
        font-weight: 400;
    }

    .dropzone .dz-message .note {
        font-size: 0.8em;
        font-weight: 200;
        display: block;
        margin-top: 1.4rem;
    }
</style>
<body>
<header>
    <div id="slideIndicators" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="">
        <ol class="carousel-indicators">
            <li data-target="#slideIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#slideIndicators" data-slide-to="1"></li>
            <li data-target="#slideIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active"
                 style="height: 50vh;min-height: 20px;background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1515063491041&di=8767c9c3177b01c45db9cc3854b78e0f&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F033edd5554c7e6d00000158fc7b2956.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="txt_shadow">优秀的判断力来自经验，但经验来自错误的判断</h3>
                    <p class="txt_shadow">Good judgment comes from experience, but experience comes from bad judgment.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item"
                 style="height: 50vh;min-height: 20px;background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1515063190806&di=71bdda130cdedcd895e5a3d476a89081&imgtype=0&src=http%3A%2F%2Fimg.pconline.com.cn%2Fimages%2Fupload%2Fupc%2Ftx%2Fitbbs%2F1309%2F16%2Fc18%2F25748320_1379313651110.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="txt_shadow">我不是一个伟大的程序员，我只是一个具有良好习惯的优秀程序员</h3>
                    <p class="txt_shadow">I am not a great programmer, I am just a good programmer with good habits. </p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item"
                 style="height: 50vh;min-height: 20px;background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1515063331413&di=de07b2eb50799360c9bf5c378da23bbf&imgtype=0&src=http%3A%2F%2Fpic.99wed.com%2Fattachment%2FMon_1107%2F98_736564_b419d830ab0564c.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="txt_shadow">你们中大多数人都熟悉程序员的美德，有三种：那就是懒惰、急躁和傲慢</h3>
                    <p class="txt_shadow">Most of you are familiar with the programmer's virtues, and there are three: laziness,
                        impatience, and arrogance. </p>
                </div>
            </div>
        </div>

    </div>
</header>
<div class="archive-page clearfix row" style="flex: 1 0 auto;-webkit-animation: fade-in .5s;animation: fade-in;animation-duration: .5s;">
    <div class="col-6">
        <fieldset>
            <legend style="text-align: center;font-size: 35px;"><b>修改个人资料</b></legend><br>
            <div style="text-align: center">
                <div>
                    <p><img style="width: 300px;height: 300px;border-radius:160px;" title="点击修改头像" th:src="@{${fontUser.headPhoto}}" id="uploadHead" onclick="fileSelect();"></p>
                    <form action="#"  style="width:auto;display: none" class="dropzone" id="dropzone" >
                        <div class="fallback">
                            <input name="file" type="file" multiple="multiple"/>
                        </div>
                    </form>
                    <form id="form_face" enctype="multipart/form-data" style="width:auto;">
                        <input type="file" name="fileToUpload" id="fileToUpload" accept=".jpg,.png,.gif" style="display:none;">
                    </form>
                </div>
                <br>
                <form  role="form" id="sigUpForm" style="width: 100%;">
                    <input type="hidden" value="PUT" name="_method">
                    <input type="hidden" name="headPhoto" th:value="${fontUser.headPhoto}"/>
                    <div class="row" style="font-size: 35px;">
                        <div style=" margin-left: 23.5%;">
                            <label class="form-inline">用户名称：<input type="text" style="width: 300px;font-size: 15px;" class="form-control" name="username" th:value="${fontUser.username}"/></label>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="font-size: 35px">
                        <div style=" margin-left: 23.5%;">
                            <label class="form-inline">电子邮箱：<input type="text" style="width: 300px;font-size: 15px;" class="form-control" name="email" th:value="${fontUser.email}"/></label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div style="margin-left: 46%;">
                            <input type="submit" value="提交" class="btn btn-primary btn-lg">
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
    <div class="col-6">
        <fieldset>
            <legend style="text-align: center;font-size: 35px;"><b>修改密码</b></legend><br>
            <div style="text-align: center">
                <div>
                    <p><img style="width: 220px;height: 220px;border-radius:160px;"  th:src="@{${fontUser.headPhoto}}" id="uploadHead"></p>
                </div>
                <br>
                <form  role="form" style="width: 100%;" id="changePass">
                    <input type="hidden" value="PUT" name="_method">
                    <div class="row" style="font-size: 35px;">
                        <div style=" margin-left: 23.5%;">
                            <label class="form-inline">旧的密码：<input type="password" name="oldPassword" style="width: 300px;font-size: 15px;" class="form-control" /></label>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="font-size: 35px">
                        <div style=" margin-left: 23.5%;">
                            <label class="form-inline">新的密码：<input type="password" id="newPassword" name="newPassword" style="width: 300px;font-size: 15px;" class="form-control" /></label>
                        </div>
                    </div>
                    <br>
                    <div class="row" style="font-size: 35px">
                        <div style=" margin-left: 23.5%;">
                            <label class="form-inline">确认密码：<input type="password" name="confirmPassword" style="width: 300px;font-size: 15px;" class="form-control" /></label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div style="margin-left: 46%;">
                            <input type="submit" value="提交" class="btn btn-primary btn-lg">
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/admin/js/base.js}"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="//cdn.bootcss.com/dropzone/4.3.0/min/dropzone.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    var tale = new $.tale();

    function fileSelect() {
        document.getElementById("dropzone").click();
    }

    $("#dropzone").dropzone({
        paramName: "file",
        url: "/mobile/upload",
        maxFilesize: 1,
        acceptedFiles:".jpg,.jpeg,.png,.gif",
        init: function () {
            this.on("success", function (file, msg) {
                console.log(file);
                if (msg.success !== true) {
                    tale.alertError('上传文件大于1M');
                }
                setTimeout(function () {
                    window.location.reload();
                }, 200);
                $("#fileToUpload").change(function(e) {
                    for (var i = 0; i < e.target.files.length; i++) {
                        var file = e.target.files.item(i);
                        var freader = new FileReader();
                        freader.readAsDataURL(file);
                        freader.onload = function(e) {
                            var src = e.target.result;
                            $("#uploadHead").attr("src",src);
                        };
                    }
                });
            });
        }
    });

    $().ready(function(){
        // 在键盘按下并释放及提交后验证提交表单
        $("#sigUpForm").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 2
                },
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                username: {
                    required: "请输入用户名",
                    minlength: "请输入两个以上字母"
                },
                email: "请输入正确的邮箱"
            },
            submitHandler:function(form){
                checkForm();
            }
        });
        $("#changePass").validate({
            rules: {
                oldPassword: {
                    required: true,
                    minlength: 5
                },
                newPassword:{
                    required: true,
                    minlength: 5
                },
                confirmPassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#newPassword"
                }
            },
            messages: {
                oldPassword: {
                    required: "请输入旧密码",
                    minlength: "密码长度不能小于 5"
                },
                newPassword:{
                    required: "请输入新密码",
                    minlength: "密码长度不能小于 5"
                },
                confirmPassword: {
                    required: "请输入确认密码",
                    minlength: "密码长度不能小于 5",
                    equalTo: "两次密码输入不一致"
                }
            },
            submitHandler:function(form){
                checkPassForm();
            }
        })
    })
</script>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();
    function checkForm() {
        tale.post({
            url: '/mobile/profile',
            data: $("#sigUpForm").serialize(),
            success: function (result) {
                if (result && result.success) {
                    alert(result.msg || '修改成功');
                    window.location.reload();
                } else {
                    alert(result.msg || '修改失败');
                }
            }
        });
        return false;
    }

    function checkPassForm() {
        tale.post({
            url: '/mobile/changePass',
            data: $("#changePass").serialize(),
            success: function (result) {
                if (result && result.success) {
                    alert(result.msg || '修改成功');
                    window.location.href = '/mobile/logout';
                } else {
                    alert(result.msg || '修改失败');
                }
            }
        });
        return false;
    }
    /*]]>*/
</script>
</body>
<div th:replace="mobile/default/footer::footer"></div>
</html>